.aboutme__wrapper_page {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid #626d7a;
}

.aboutme {
  display: flex;
  flex-direction: column;

  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: black;

  width: 100%;
  height: 100%;

  overflow-y: scroll;

  padding-left: 20px;
  padding-right: 20px;

  padding-top: 20px;
}

.aboutme__info {
  margin-bottom: 10px;
}

.aboutme__nickname,
.aboutme__friends,
.aboutme__subscribers {
  margin-bottom: 10px;
}

.aboutme__friends,
.aboutme__subscribers {
  cursor: pointer;
}

.aboutme__addToFriends {
  height: 30px;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #626d7a;
  border-radius: 15px;

  cursor: pointer;
}

.aboutme__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutme__posts {
  /* height: 100%; */
  margin-bottom: 30px;
}
